h1{
    border-style: ridge;
    border-width: 5px;
    background-color: lightcoral;
    text-align: center;
    font-style: italic;
    color: mintcream;
    border: 0.5px solid blue;
    border-width: 20px;

}
